<html>
  <head>
    <!-- GOOGLE ANALYTICS -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180773758-1"></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag(){dataLayer.push(arguments)}
      gtag('js', new Date())
      gtag('config', 'UA-180773758-1')
    </script>


    <!-- TITLE N SHIT -->
    <title>Where is David Augustus?</title>
    <meta name="description" content="where tho?">
    <meta name="keywords" content="where, is, david, augustus, motorcycle, trip">
    <meta name="author" content="David Augustus Schalkwijk Lopes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CONFIG -->
    <meta charset="utf-8"/>

    <!-- FAVICON -->
    <link rel="icon" href="./assets/favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="css/base.<%= build_version_id %>.css">
    <link rel="stylesheet" href="css/main.<%= build_version_id %>.css">
  </head>

  <body>    
    <main>
      <!-- HEADER -->
      <div id="header">
        <div id="header-content">
          <a id="header-home-link" class="current-page" href="./index.html">HOME</a>
          <div class="header-vertical-line"></div>
          <a id="header-devlog-link" href="./devlog.html">DEVLOG</a>
        </div>
      </div>
      
      <!-- MAP -->
      <div id="left-pane">
        <div id="map"></div>
        <div id="map-down-arrow">
          <img id="map-down-arrow-svg" src="./assets/down-arrow.svg" />
        </div>
      </div>

      <!-- CONTENT -->
      <div id="right-pane">
        <div id="right-pane-anchor"></div>
        <!-- CHECKINS -->
        <div id="checkins-pane">
          <% checkins.reverse.each do |checkin|  %>
            <div class="checkin-content"
              onmouseenter="highlightCheckinAndMarker('<%= checkin['checkinId'] %>')"
              onmouseleave="unHighlightCheckinAndMarker('<%= checkin['checkinId'] %>')"
              onclick="scrollCheckinIntoView('<%= checkin['checkinId'] %>')"
              id="checkin-content-<%= checkin['checkinId'] %>"
              >
              <div class="checkin-content-anchor" id="checkin-content-anchor-<%= checkin['checkinId'] %>"></div>

              <div class="checkin-title">
                <div class="checkin-title-left">
                  <div class="checkin-title-name"><%= checkin['name'] %></div>
                  <div class="checkin-title-location"><%= checkin['location'] %></div>
                  <div class="checkin-title-date"><%= checkin['time'] %></div>
                </div>
              </div>

              <div class="checkin-blurb"><%= checkin['blurb'] %></div>

              <% if checkin['images'] && !checkin['images'].empty? %>
                <div class="checkin-image-pane">
                  <% checkin['images'].each do |image| %>
                    <img 
                      width="<%= image['width'] %>px"
                      height="<%= image['height'] %>px"
                      loading="lazy"
                      class="checkin-image"
                      src="./media/images/<%= image['name'] %>"
                    />
                  <% end %>
                </div>
              <% end %>

              <% if checkin['videos'] && !checkin['videos'].empty? %>
                <div class="checkin-video-pane">
                  <% checkin['videos'].each do |video| %>
                    <video
                      style="width:<%= video['width'] %>px;height:<%= video['height'] %>px"
                      class="checkin-video"
                      controls
                      preload="metadata"
                      src="./media/videos/<%= video['name'] %>"
                      data-video-name="<%= video['name'] %>"
                    />
                  <% end %>
                </div>
              <% end %>

              <% if checkin['firstPeeper'] && checkin['firstPeeper'] == '$LOCKED$' %>
                <%# empty %>

              <% elsif checkin['firstPeeper'] && !checkin['firstPeeper'].empty? %>
                <div class="checkin-peeper-pane">
                  <span class="checkin-peeper-icon">&#128064;</span><span class="checkin-peeper-text"><span class="checkin-peeper-name"><%= sanitize(checkin['firstPeeper']) %></span> was first peeper</span>
                </div>

              <% else %> 
                <div onclick="peeperPaneClick(event)" class="checkin-peeper-pane available" data-checkin-id="<%= checkin['checkinId'] %>">
                  <input class="checkin-peeper-name-input" type="text" maxlength="40" placeholder="what's your name? quick!"/>
                  <button class="checkin-claim-first-peep-button" onclick="onClickPeepButton(event)">PEEP</button>
                </div>

              <% end %>

            </div>
          <% end %>
        </div>
      </div>
    </main>

    <!-- MAPS API -->
    <script defer src="https://maps.googleapis.com/maps/api/js?key=<%=maps_api_key%>&callback=onMapsApiLoad"></script>

    <!-- GSAP -->
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>
    -->

    <!-- MY JS -->
    <script src="./scripts/main.<%= build_version_id %>.js"></script>
  </body>
</html>